<div class="modal-header navbar navbar-light bg-light">
  <h4 class="modal-title navbar-brand">Please confirm</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="modal.dismiss()"><fa-icon [icon]="faTimes"></fa-icon>
  </button>
</div>
<div class="modal-body">
  <p>{{ msg }}</p>
</div>
<div class="modal-footer">
  <button *ngIf="btn" class="btn btn-primary" (click)="btn.function(this.modal.close)">
    {{ btn.name }}
  </button>
  <button *ngIf="btn" class="btn btn-secondary" (click)="modal.dismiss()">
    Cancel
  </button>
  <button *ngIf="!btn" class="btn btn-secondary" (click)="modal.dismiss()">
    OK
  </button>
</div>
